<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.nexacro.uiadapter.mapper.MenuListMapper">
	
    <!--  POJO -->
     <select id="selectMenuList" parameterType="example.nexacro.uiadapter.pojo.MenuList" resultType="example.nexacro.uiadapter.pojo.MenuList">
         SELECT
             MENU_ID as menuId,
             MENU_NM as menuNm,
             SYS_ID as sysId,
             HIGH_MENU_ID as highMenuId,
             MENU_TPCD as menuTpcd,
             MENU_LVL as menuLvl,
             PRG_ID as prgId,
             PRG_PATH as prgPath,
             PRG_TYPE as prgType,
             CALL_PARAM as callParam,
             SORT_SEQ as sortSeq,
             RMK as rmk,
             USYN as usyn,
             MGR_USYN as mgrUsyn,
             COM_YN as comYn
         FROM SCC_MENU
         WHERE USYN = 'Y'
           --AND MGR_USYN = 'Y'
         ORDER BY SORT_SEQ;
    </select>

    <insert id="insertMenuList" parameterType="example.nexacro.uiadapter.pojo.MenuList">
        INSERT INTO SCC_MENU (
            MENU_ID,
            MENU_NM,
            SYS_ID,
            HIGH_MENU_ID,
            MENU_TPCD,
            MENU_LVL,
            PRG_ID,
            PRG_PATH,
            PRG_TYPE,
            CALL_PARAM,
            SORT_SEQ,
            RMK,
            USYN,
            MGR_USYN,
            COM_YN,
            CRTR_ID,
            CRTR_DTTM,
            MDPS_ID,
            MDPS_DTTM
        ) VALUES (
             #{menuId},
             #{menuNm},
             #{sysId},
             #{highMenuId},
             #{menuTpcd},
             #{menuLvl},
             #{prgId},
             #{prgPath},
             #{prgType},
             #{callParam},
             #{sortSeq},
             #{rmk},
             #{usyn},
             #{mgrUsyn},
             #{comYn},
             #{crtrId},
             now(),
             #{mdpsId},
             now()
        )
    </insert>

    <update id="updateMenuList" parameterType="example.nexacro.uiadapter.pojo.MenuList">
        UPDATE SCC_MENU
        SET
            MENU_NM = #{menuNm},
            SYS_ID = #{sysId},
            HIGH_MENU_ID = #{highMenuId},
            MENU_TPCD = #{menuTpcd},
            MENU_LVL = #{menuLvl},
            PRG_ID = #{prgId},
            PRG_PATH = #{prgPath},
            PRG_TYPE = #{prgType},
            CALL_PARAM = #{callParam},
            SORT_SEQ = #{sortSeq},
            RMK = #{rmk},
            USYN = #{usyn},
            MGR_USYN = #{mgrUsyn},
            COM_YN = #{comYn},
            MDPS_ID = #{mdpsId},
            MDPS_DTTM = now()
        WHERE MENU_ID = #{menuId}

    </update>

    <delete id="deleteMenuList" parameterType="example.nexacro.uiadapter.pojo.MenuList">
        DELETE FROM SCC_MENU
        WHERE MENU_ID = #{menuId}
    </delete>

    <select id="selectCmmBtnList" parameterType="example.nexacro.uiadapter.pojo.CmmBtnList" resultType="example.nexacro.uiadapter.pojo.CmmBtnList">
        SELECT
            MENU_ID as menuId,
            BTN_ID as btnId,
            BTN_NM as btnNm,
            FUNCTION_NM as functionNm,
            CSS_NM as cssNm,
            SORT_SEQ as sortSeq,
            USYN as usyn
        FROM SCC_MENU_BTN
        WHERE MENU_ID=#{menuId}
        order by sortSeq
    </select>

    <insert id="insertCmmBtnList" parameterType="example.nexacro.uiadapter.pojo.CmmBtnList">
        INSERT INTO SCC_MENU_BTN (
            MENU_ID,
            BTN_ID,
            BTN_NM,
            FUNCTION_NM,
            CSS_NM,
            SORT_SEQ,
            RMK,
            USYN,
            CRTR_ID,
            CRTR_DTTM,
            MDPS_ID,
            MDPS_DTTM
        ) VALUES (
                     #{menuId},
                     #{btnId},
                     #{btnNm},
                     #{functionNm},
                     #{cssNm},
                     #{sortSeq},
                     #{rmk},
                     #{usyn},
                     #{crtrId},
                     now(),
                     #{mdpsId},
                     now()
                 )
    </insert>
    <update id="updateCmmBtnList" parameterType="example.nexacro.uiadapter.pojo.CmmBtnList">
        UPDATE SCC_MENU_BTN
        SET
            MENU_ID = #{menuId},
            BTN_ID = #{btnId},
            BTN_NM = #{btnNm},
            FUNCTION_NM = #{functionNm},
            CSS_NM = #{cssNm},
            USYN = #{usyn},
            MDPS_ID = #{mdpsId},
            MDPS_DTTM = now()
        WHERE MENU_ID = #{menuId} AND BTN_ID = #{btnId}
    </update>
    <delete id="deleteCmmBtnList" parameterType="example.nexacro.uiadapter.pojo.CmmBtnList">
        DELETE FROM SCC_MENU_BTN
        WHERE MENU_ID = #{menuId}
    </delete>

    <select id="selectComCodeList" parameterType="example.nexacro.uiadapter.pojo.ComCode" resultType="example.nexacro.uiadapter.pojo.ComCode">
        SELECT
            GRP_CD as grpCd,  -- // 그룹코드 -- PK
            CMN_CD as cmnCd,  -- // 공통코드 -- PK
            CMN_CDNM as cmnCdnm,  -- // 공통코드명
            SYS_ID as sysId,  -- // 시스템 ID [ B:예산관리, S:시스템관리 ]

            RMK	as rmk, -- // 비고
            SORT_SEQ as sortSeq, -- // 순번
            USYN as usyn, -- // 사용여부
            CD_SETT_VL1	as cdSettVl1, -- // 참조1
            CD_SETT_VL2	as cdSettVl2, -- // 참조2
            CD_SETT_VL3	as cdSettVl3, -- // 참조3
            CD_SETT_VL4	as cdSettVl4, -- // 참조4
            CD_SETT_VL5	as cdSettVl5, -- // 참조5
            CD_SETT_VL6	as cdSettVl6, -- // 참조6
            CD_SETT_VL7	as cdSettVl7 -- // 참조7
        FROM SCC_CMN_CD
        WHERE 1=1
            <if test="grpCd != null">
                    AND GRP_CD LIKE '%' || #{grpCd} || '%'
            </if>
        ORDER BY SORT_SEQ;
    </select>

    <insert id="insertComCodeList" parameterType="example.nexacro.uiadapter.pojo.ComCode">
        INSERT INTO SCC_CMN_CD (
            GRP_CD,
            CMN_CD,
            CMN_CDNM,
            SYS_ID,
            RMK,
            SORT_SEQ,
            USYN,
            CD_SETT_VL1,
            CD_SETT_VL2,
            CD_SETT_VL3,
            CD_SETT_VL4,
            CD_SETT_VL5,
            CD_SETT_VL6,
            CD_SETT_VL7,
            CRTR_ID,
            CRTR_DTTM,
            MDPS_ID,
            MDPS_DTTM
        ) VALUES (
                     #{grpCd},
                     #{cmnCd},
                     #{cmnCdnm},
                     #{sysId},
                     #{rmk},
                     #{sortSeq},
                     #{usyn},
                     #{cdSettVl1},
                     #{cdSettVl2},
                     #{cdSettVl3},
                     #{cdSettVl4},
                     #{cdSettVl5},
                     #{cdSettVl6},
                     #{cdSettVl7},
                     #{crtrId},
                     now(),
                     #{mdpsId},
                     now()
                 )
    </insert>
    <update id="updateComCodeList" parameterType="example.nexacro.uiadapter.pojo.CmmBtnList">
        UPDATE SCC_CMN_CD
        SET
            GRP_CD = #{grpCd},
            CMN_CD = #{cmnCd},
            CMN_CDNM = #{cmnCdnm},
            SYS_ID = #{sysId},
            RMK = #{rmk},
            SORT_SEQ = #{sortSeq},
            USYN = #{usyn},
            CD_SETT_VL1 = #{cdSettVl1},
            CD_SETT_VL2 = #{cdSettVl2},
            CD_SETT_VL3 = #{cdSettVl3},
            CD_SETT_VL4 = #{cdSettVl4},
            CD_SETT_VL5 = #{cdSettVl5},
            CD_SETT_VL6 = #{cdSettVl6},
            CD_SETT_VL7 = #{cdSettVl7},
            MDPS_ID = #{mdpsId},
            MDPS_DTTM = now()
        WHERE
            GRP_CD = #{grpCd} AND CMN_CD = #{cmnCd}
    </update>
    <delete id="deleteComCodeList" parameterType="example.nexacro.uiadapter.pojo.CmmBtnList">
        DELETE FROM SCC_CMN_CD
        WHERE
            GRP_CD = #{grpCd} AND CMN_CD = #{cmnCd}
    </delete>
</mapper>
