<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aia.ers.application.mapper.OrganizeMapper">
	
    <!--  POJO -->
    <select id="select_depart" resultType="aia.ers.application.pojo.departDto">
        select * from departement_tb
    </select>
    <select id="select_employee" resultType="aia.ers.application.pojo.employeeDto">
        select * from employee_tb
    </select>

    <!-- 사원목록 조회 -->
    <select id="selectEmpList" parameterType="aia.ers.application.pojo.Emp" resultType="aia.ers.application.pojo.Emp">
        SELECT EM.EMP_NO        AS empNo
             , EM.EMP_ENG_NM    AS empEngNm
             , EM.EMP_NM        AS empNm
             , EM.DEPT_CD       AS deptCd
             , DM.DEPT_NM       AS deptNm
             , EM.RGNTN_YN      AS rgntnYn
             , EM.DEPT_RL_NM    AS deptRlNm
             , EM.LCET_NO       AS lcetNo
             , EM.EMAL_ADDR     AS emalAddr
             , EM.GRAD          AS grad
             , EM.DUTY_TTL_NM   AS dutyTtlNm
             , EM.CHG_YN        AS chgYn
             , EM.GRP_NAME      AS grpName
             , EM.ID_NM         AS idNm
          FROM EMP_MNGM EM
          LEFT OUTER JOIN DEPT_MNGM DM
            ON EM.DEPT_CD = DM.DEPT_CD
         WHERE 1=1
        <if test="searchText != null and searchText !=''">
           AND ( EM.EMP_NO LIKE CONCAT('%', #{searchText}, '%')
                 OR EM.EMP_NM LIKE CONCAT('%', #{searchText}, '%')
               )
        </if>
    </select>

    <!-- 항목코드목록 조회 -->
    <select id="selectArtcList" parameterType="aia.ers.application.pojo.Artc" resultType="aia.ers.application.pojo.Artc">
        SELECT AM.BDG_YEAR        AS bdgYear      /* 예산년도 */
        , AM.CST_CNTR_CD          AS cstCntrCd    /* 코스트센터코드 */
        , ''                      AS cstCntrCdNm  /* 코스트센터코드명 */
        , AM.ARTC_CD              AS artcCd       /* 항목코드 */
        , ''                      AS artcCdNm     /* 항목코드명 */
        , AM.PJT_CLSSFC           AS pjtClssfc    /* 프로젝트구분 */
        , AM.USE_YN               AS useYn        /* 사용여부 */
        FROM ARTC_MNGM AM
        WHERE 1=1
        <if test="bdgYear != null and bdgYear !=''">
            AND AM.BDG_YEAR = #{bdgYear}
        </if>
        <if test="searchText != null and searchText !=''">
            AND ( AM.ARTC_CD LIKE CONCAT('%', #{searchText}, '%')
            OR AM.ARTC_CD LIKE CONCAT('%', #{searchText}, '%')   /* 공통코드함수 생기면 코드명검색으로 바꿔줘야함 */
            )
        </if>
    </select>
</mapper>
